################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.git
/.vs
/src/WCNet/bin
/src/WCNet/obj
/test/WCNet/bin
/test/WCNet/obj
/test/WCNet/coveragereport
/test/WCNet/TestResults