################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.git
/.vs
/src/WCNet/bin
/src/WCNet/obj
/test/WCNet/bin
/test/WCNet/obj
/test/WCNet/coveragereport
/test/WCNet/TestResults
/test/VP.CodingChallenge.WCNet.Benchmark/bin
/test/VP.CodingChallenge.WCNet.Benchmark/obj
/test/WCNet/VP.CodingChallenge.WCNet.UnitTests/bin/Debug/net8.0
/test/WCNet/VP.CodingChallenge.WCNet.UnitTests/obj
