################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.git
/.vs
/src/WCTool/bin
/src/WCTool/obj
